/*
Skin: Greenery
PantoneCode: 15-0343 (13-0220 12-0525)
Author: Yuriko
Date: 2018/10/10

清新活力之色，草木绿是新生的象徵
草木绿是一个代表初春时节万物复苏、欣欣向荣的颜色，清新而充满活力，如同身处于繁茂的绿植之中，让人情不自禁地开始深呼吸，感受新鲜空气，振作精神。
草木绿，一个俱生命力、令人愉悦的颜色，也像徵著个人对热情和活力的追求。

*/
QWidget {
	font-family: 12px "Noto Sans", "FreeSans";
	background: rgb(136, 176, 75);
	color: rgb(105, 45, 93);
}

QPushButton {
	background: rgb(178, 231, 159);
	border: 1px solid #000;
	border-radius: 2px;
	color: rgb(105, 45, 93);
	min-width: 76px;
	min-height: 17px;
	padding: 4px 6px;
}

QPushButton:focus {
	border: 1px solid rgb(178, 231, 159);
	outline: none;
}

QPushButton:pressed {
	background: rgb(227, 234, 165);
}

QPushButton:disabled {
	background: transparent;
	border: 1px solid #454A4D;
	color: #6F6F6F;
}

QPushButton#pushButton_minimize {
	background: none;
	border: 0px;
	border-radius: 0px;
	color: none;
	min-width: 8px;
	min-height: 8px;
}

QPushButton#pushButton_maximize {
	background: none;
	border: 0px;
	border-radius: 0px;
	color: none;
	min-width: 8px;
	min-height: 8px;
}

QPushButton#pushButton_close {
	background: none;
	border: 0px;
	border-radius: 0px;
	color: none;
	min-width: 8px;
	min-height: 8px;
}

QSlider::groove:horizontal {
	background: rgb(227, 234, 165);
	height: 1px;
}

QSlider::sub-page:horizontal {
	background: rgb(178, 231, 159);
}

QSlider::handle:horizontal {
	background: whitesmoke;
	border: 2px solid #1A1A1A;
	border-radius: 7px;
	margin: -7px 0;
	width: 12px;
}

QCheckBox::indicator {
	width: 11px;
	height: 11px;
	border: 1px solid rgb(178, 231, 159);
	border-radius: 2px;
}

QCheckBox::indicator:unchecked {
	border: 1px solid rgb(105, 45, 93);
	background: rgb(227, 234, 165);
	image: none;
}

QCheckBox::indicator:checked {
	border: 1px solid rgb(178, 231, 159);
	background: rgb(178, 231, 159);
	image: url(:/checked.ico);
}

QLineEdit {
	background: rgb(227, 234, 165);
	border: 1px solid #454A4D;
	padding: 2px;
}

QLineEdit:focus {
	border: 1px solid rgb(178, 231, 159);
}

QComboBox {
	background: rgb(227, 234, 165);
	border: 1px solid #000;
	border-radius: 2px;
	padding: 2px;
}

QComboBox:focus {
	border: 1px solid rgb(178, 231, 159);
}

QComboBox::drop-down {
	background: rgb(178, 231, 159);
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

QComboBox::down-arrow {
	image: url(:/down-arrow.ico);
}

QGroupBox {
	border: 1px solid #454A4D;
	border-radius: 2px;
	margin-top: 0.5em;
}

QGroupBox::title {
	subcontrol-origin: margin;
	subcontrol-position: top center;
	background: rgb(227, 234, 165);
	border: 1px solid #454A4D;
	border-radius: 2px;
	padding: 0 2px;
}

QRadioButton::indicator {
	width: 6px;
	height: 6px;
	border-radius: 5px;
	padding: 2px;
}

QRadioButton::indicator:unchecked {
	border: 1px solid whitesmoke;
	image: none;
}

QRadioButton::indicator:checked {
	border: 1px solid rgb(178, 231, 159);
	image: url(:/selected.ico);
}
