/*
Author: Daniel Clarke(https://github.com/u8sand)
Notice: Originally copied from https://github.com/u8sand/Baka-MPlayer and wangwenx190 made some changes to it.
Create date: 2018/10/09
Update date: 2018/12/02
*/

QWidget {
	font-weight: bold;
	font-size: 16px;
	background: rgba(26, 26, 26, 0.6);
	color: whitesmoke;
}

QWidget:disabled {
	color: #6F6F6F;
}

QWidget#widget_windowTitleBar {
	background: none;
}

PreferencesDialog, AboutDialog, PlaylistDialog {
	background: rgba(26, 26, 26, 0.6);
}

QLabel {
	background: none;
}

QToolButton {
	font-size: 20px;
	color: whitesmoke;
}

QToolButton:hover {
	background: #6F6F6F;
}

QPushButton {
	background: rgba(69, 74, 77, 0.6);
	border: 1px solid #000;
	border-radius: 2px;
	color: whitesmoke;
	min-width: 76px;
	min-height: 17px;
	padding: 4px 6px;
}

QPushButton:focus {
	border: 1px solid #008098;
	outline: none;
}

QPushButton:pressed {
	background: rgba(46, 49, 51, 0.6);
}

QPushButton[flat="true"] {
	background: none;
	border: 0px;
	border-radius: 0px;
	color: none;
	min-width: 0px;
	min-height: 0px;
}

QPushButton#pushButton_previous, QPushButton#pushButton_playing, QPushButton#pushButton_next {
	min-width: 50px;
	min-height: 50px;
}

QSlider {
	background: none;
}

QSlider::groove:horizontal {
	background: rgba(90, 90, 90, 0.6);
	height: 1px;
}

QSlider::sub-page:horizontal {
	background: rgba(7, 152, 172, 0.6);
}

QSlider::handle:horizontal {
	background: rgba(255, 255, 255, 0.6);
	border: 2px solid #1A1A1A;
	border-radius: 7px;
	margin: -7px 0;
	width: 12px;
}

QCheckBox {
	background: none;
}

QCheckBox::indicator {
	width: 11px;
	height: 11px;
	border: 1px solid #008098;
	border-radius: 2px;
}

QCheckBox::indicator:unchecked {
	border: 1px solid whitesmoke;
	background: none;
	image: none;
}

QCheckBox::indicator:checked {
	border: 1px solid whitesmoke;
	background: none;
	image: url(:/icons/checked.svg);
}

QLineEdit {
	background: rgba(0, 0, 0, 0.6);
	border: 1px solid #454A4D;
	padding: 2px;
}

QLineEdit:focus {
	border: 1px solid #008098;
}

QComboBox {
	background: rgba(69, 74, 77, 0.6);
	border: 1px solid #000;
	border-radius: 2px;
	padding: 2px;
}

QComboBox:focus {
	border: 1px solid #008098;
}

QComboBox::drop-down {
	background: rgba(2, 157, 168, 0.6);
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

QComboBox::down-arrow {
	image: url(:/icons/down-arrow.svg);
}

QGroupBox {
	border: 1px solid #454A4D;
	border-radius: 2px;
	margin-top: 0.5em;
}

QGroupBox::title {
	subcontrol-origin: margin;
	subcontrol-position: top center;
	background: rgba(69, 74, 77, 0.6);
	border: 1px solid #454A4D;
	border-radius: 2px;
	padding: 0 2px;
}

QRadioButton::indicator {
	width: 6px;
	height: 6px;
	border-radius: 5px;
	padding: 2px;
}

QRadioButton::indicator:unchecked {
	border: 1px solid whitesmoke;
	image: none;
}

QRadioButton::indicator:checked {
	border: 1px solid #008098;
	image: url(:/icons/selected.svg);
}

QSpinBox {
	background: rgba(69, 74, 77, 0.6);
	border: 1px solid #000;
	border-radius: 2px;
	padding: 2px;
}

QSpinBox:focus {
	border: 1px solid #008098;
}

QSpinBox::up-button, QSpinBox::down-button {
	border: none;
	width: 10px;
}

QSpinBox::up-arrow {
	image: url(:/icons/up-arrow.svg);
}

QSpinBox::down-arrow {
	image: url(:/icons/down-arrow.svg);
}

QListWidget {
	show-decoration-selected: 1;
	border: 1px solid #212121;
	background: rgba(0, 0, 0, 0.6);
}

QListWidget::item:alternate {
    background: rgba(27, 27, 27, 0.6);
}

QListWidget::item:selected {
	background: rgba(2, 171, 177, 0.6);
}

QListWidget::item:hover {
	background: rgba(58, 230, 236, 0.6);
}

QScrollBar:vertical {
	padding-left: 1px;
	width: 6px;
}

QScrollBar::handle:vertical {
	background: rgba(2, 171, 177, 0.6);
	border-radius: 2px;
	min-height: 10px;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
	border: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical  {
	background: rgba(58, 58, 58, 0.6);
	margin: 0 2px;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
	background: none;
}

QScrollBar:horizontal {
	height: 6px;
	padding-top: 1px;
}

QScrollBar::handle:horizontal {
	background: rgba(0, 164, 175, 0.6);
	border-radius: 2px;
	min-width: 10px;
}

QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
	border: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
	background: rgba(59, 59, 59, 0.6);
	margin: 2px 0;
}

QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
	background: none;
}
