/*
Skin: Ultra Violet
PantoneCode: 18-3838 (17-3313)
Author: Yuriko
Create date: 2018/10/09
Update date: 2018/10/31

紫外光照亮了通往未来的道路！
一个强烈挑动思绪与深思的紫色调! 紫外光传达独创性、创造力和前瞻性的思维，为我们指向未来。
复杂和沉思，紫外光暗示了宇宙的神秘，以及我们未知的世界。广袤无垠的夜空象征着无限的可能，并继续激励着我们追求一个超越我们自己世界的渴望。

*/

QWidget {
	font-weight: bold;
	font-size: 16px;
	background: rgb(95, 75, 139);
	color: whitesmoke;
}

QWidget:disabled {
	background: transparent;
	color: #6F6F6F;
}

QToolButton {
	font-size: 20px;
	color: whitesmoke;
}

QToolButton:hover {
	background: rgb(163, 169, 221);
}

QPushButton {
	background: rgb(161, 117, 156);
	border: 1px solid #000;
	border-radius: 2px;
	color: whitesmoke;
	min-width: 76px;
	min-height: 17px;
	padding: 4px 6px;
}

QPushButton:focus {
	border: 1px solid rgb(161, 117, 156);
	outline: none;
}

QPushButton:pressed {
	background: rgb(118, 123, 165);
}

QPushButton[flat="true"] {
	background: none;
	border: 0px;
	border-radius: 0px;
	color: none;
	min-width: 0px;
	min-height: 0px;
}

QPushButton#pushButton_previous,
QPushButton#pushButton_playing,
QPushButton#pushButton_next {
	min-width: 50px;
	min-height: 50px;
}

QSlider::groove:horizontal {
	background: rgb(118, 123, 165);
	height: 1px;
}

QSlider::sub-page:horizontal {
	background: rgb(161, 117, 156);
}

QSlider::handle:horizontal {
	background: whitesmoke;
	border: 2px solid #1A1A1A;
	border-radius: 7px;
	margin: -7px 0;
	width: 12px;
}

QCheckBox::indicator {
	width: 11px;
	height: 11px;
	border: 1px solid rgb(161, 117, 156);
	border-radius: 2px;
}

QCheckBox::indicator:unchecked {
	border: 1px solid whitesmoke;
	background: rgb(118, 123, 165);
	image: none;
}

QCheckBox::indicator:checked {
	border: 1px solid rgb(161, 117, 156);
	background: rgb(161, 117, 156);
	image: url(:/icons/checked.svg);
}

QLineEdit {
	background: rgb(118, 123, 165);
	border: 1px solid #454A4D;
	padding: 2px;
}

QLineEdit:focus {
	border: 1px solid rgb(161, 117, 156);
}

QComboBox {
	background: rgb(118, 123, 165);
	border: 1px solid #000;
	border-radius: 2px;
	padding: 2px;
}

QComboBox:focus {
	border: 1px solid rgb(161, 117, 156);
}

QComboBox::drop-down {
	background: rgb(161, 117, 156);
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

QComboBox::down-arrow {
	image: url(:/icons/down-arrow.svg);
}

QGroupBox {
	border: 1px solid #454A4D;
	border-radius: 2px;
	margin-top: 0.5em;
}

QGroupBox::title {
	subcontrol-origin: margin;
	subcontrol-position: top center;
	background: rgb(118, 123, 165);
	border: 1px solid #454A4D;
	border-radius: 2px;
	padding: 0 2px;
}

QRadioButton::indicator {
	width: 6px;
	height: 6px;
	border-radius: 5px;
	padding: 2px;
}

QRadioButton::indicator:unchecked {
	border: 1px solid whitesmoke;
	image: none;
}

QRadioButton::indicator:checked {
	border: 1px solid rgb(161, 117, 156);
	image: url(:/icons/selected.svg);
}

QSpinBox {
	background: rgb(118, 123, 165);
	border: 1px solid #000;
	border-radius: 2px;
	padding: 2px;
}

QSpinBox:focus {
	border: 1px solid rgb(161, 117, 156);
}

QSpinBox::up-button, QSpinBox::down-button {
	border: none;
	width: 10px;
}

QSpinBox::up-arrow {
	image: url(:/icons/up-arrow.svg);
}

QSpinBox::down-arrow {
	image: url(:/icons/down-arrow.svg);
}
