#include <winver.h>
#include "dd_version.h"

IDI_ICON1 ICON DISCARDABLE "resources\\icons\\color_palette.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION DD_MAJOR,DD_MINOR,DD_PATCH,0
 PRODUCTVERSION DD_MAJOR,DD_MINOR,DD_PATCH,0
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEFLAGSMASK 0x3fL
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "wangwenx190"
            VALUE "FileDescription", "Dynamic Desktop"
            VALUE "FileVersion", DD_VERSION_STR ".0"
            VALUE "LegalCopyright", "GNU General Public License version 3.0"
            VALUE "InternalName", "Dynamic Desktop"
            VALUE "OriginalFilename", "dynamic-desktop"
            VALUE "ProductName", "Dynamic Desktop"
            VALUE "ProductVersion", DD_VERSION_STR ".0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
